@import "Pages/index-page";
@import "Components/colors";

body,
html {
  margin: 0;
  padding: 0;
  background-color: $bg-home-page;
  .active {
    color: $color-link-navbar-active !important;
  }
}
.padding-page {
  padding-top: 150px;
}
#close {
  display: none !important;
}
#icon-wrapper {
  display: none !important;
}
.carousel-item {
  max-height: 450px !important;
  height: 440px;
  object-fit: fill;
}
@media screen and (max-width: 1205px) {
  .carousel-item img {
    max-height: 450px !important;
    height: 400px;
  }
}

@import "Pages/index-page";
@import "Pages/about-page";
@import "Pages/footer-page";
